* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    background-color: gray;
    text-align:center;
    color: white;
    font-weight:bold;
}
input {
    background-color: white;
    color: black
}
#btn-consultar-saldo {
    background-color: orange;
}
input[type="submit"], #btn-consultar-saldo, input[type ='button']{
    background-color:orange;
    cursor: pointer;
}
    
a:link, a:visited{
    text-decoration:none;
    color:orange;
    font-weight:bold;
    
}
a:hover{
    color:black;
}
nav ul{
    list-style-type:none;
    padding:0;
}
nav li{
    display:inline;
}
nav a:link, nav a:visited{
    background-color:orange;
    color:white;
    display:inline-block;
    width:50%;
    padding:10px 0;
}
nav a:hover{
    background-color:black;
}

#containerData, #price-section{
    margin-top: 100px;
}

